#wrap-score {
  display: block;
  .score-title {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.15px;
    color: #333333;
  }
  .score-list {
    width: 100%;
    padding-top: 30px;
    .item {
      width: 846px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding: 15px 0;
      border-bottom: 1px solid rgba(33, 33, 33, 0.08);
      .item__person {
        min-width: 400px;
        .item__person-name {
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 21px;
          letter-spacing: 0.1px;
          color: #333333;
        }
        .item__person-email {
          font-style: normal;
          font-weight: normal;
          font-size: 12px;
          line-height: 15px;
          letter-spacing: 0.4px;
          color: #333333;
        }
      }
      .item__score {
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.15px;
        color: rgba(0, 0, 0, 0.87);
        span {
          color: #2196f3;
        }
      }
    }
  }
}
