.header {
  background: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.24);
  .header-container {
    position: relative;
    height: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .header-logo {
      background-color: #ffffff;
      color: #2196F3;
      .logo-up, 
      .logo-down {
        width: 80px;
        height: 20px;
      }
      .logo-up {
        background-color: #2196F3;
        color: #ffffff;
      }
      .logo-text {
        font-weight: 500;
        font-size: 11px;
        line-height: 16px;
        text-align: center;
        letter-spacing: 1.25px;
        text-transform: uppercase;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        padding-top: 2px;
      }
    }
    .menu {
      width: 100%;
      .header-menu__items {
        width: 576px;
        height: 64px;
        display: flex;
        justify-content: center;
        list-style-type: none;
        .header-menu__item {
          width: 96px;
          color: white;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          .header-menu__img {
            width: 20px;
            height: 20px;
            border-radius: 10px 10px;
            margin-bottom: 9px;
          }
          .header-menu__text {
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 15px;
            text-align: center;
            letter-spacing: 0.4px;
            color: rgba(255, 255, 255, 0.7);;
          }
          &:hover {
            background: #1E88E5;
          }
        }
        .item-about .header-menu__img {
          background-color: #ffffff;
          display: flex;
          justify-content: center;
          align-items: center;
          p {
            color: #2196F3;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 15px;
            text-align: center;
          }
        }
        .item-score .header-menu__img {
          background: url('../../images/icons/star.svg') no-repeat center;
        }
        .item-setting .header-menu__img {
          background: url('../../images/icons/setting.svg') no-repeat center #ffffff;
        }
        .item-select {
          background: #1E88E5;
          .header-menu__text {
            color: #ffffff;
          }
        }
      }
    }
    .header-button-feild {
      position: absolute;
      top: 15px;
      right: 0;
      .header-button {
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 207px;
        height: 36px;
        border: none;
        outline: none;
        cursor: pointer;
        background: #F2F9FE;
        box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2), 0px 1px 18px rgba(0, 0, 0, 0.12), 0px 6px 10px rgba(0, 0, 0, 0.14);
        border-radius: 4px;
        .header-button__text {
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 16px;
          text-align: center;
          letter-spacing: 1.25px;
          text-transform: uppercase;
          color: #2196F3;
        }
        &:hover {
          box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.64);
        }
      }
      .header-button-start {
        min-width: 130px;
      }
      .hidden {
        display: none;
      }
    }
  }
}